doctype html
html
    head
        meta(
            charset="utf8"
        )
        meta(
            name="viewport",
            content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1"
        )
        link(
            rel="stylesheet",
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
        )
        link(
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        )
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")
        title Cifrado Vigenere
    body
        article
            .container
                input(
                    type="text",
                    id="message"
                    placeholder="Introduce tu mensaje"
                )
                input(
                    type="text",
                    id="key"
                    placeholder="Introduce tu clave"
                )
                .buttons
                    button#encrypt CIFRAR
                    button#decrypt DESCIFRAR
                .result Resultado de la operacion
                .log
                    span OPERACIONES
                    i(class="fa fa-file-text-o" aria-hidden="true")
        script(
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        )
        script(src="js/cifrado-vigenere.js")
